include navbar

doctype html
html
  head
    title= title
block content
    h2(id="singleBusinessTitle") #{business.businessName} 
    br
    h2(id="singleBusinessReview") Rating: #{avgTotal}
    img(src="/images/tempPhoto.png" id="singleBusinessPictures")
    img(src="/images/tempPhoto.png" id="singleBusinessPictures")
    img(src="/images/tempPhoto.png" id="singleBusinessPictures")
    div(class="businessContactInfo")
        p Phone Number: #{business.phoneNumber}
        p Address: #{business.businessAddress}
        P Website: #{business.businessWebsite}
    div(class = "businessInformation")
        p(class="businessInformationHeader") About: 
            p #{business.businessIntro}
        p(class="businessInformationHeader") Prevention Measures: 
            p #{business.covidPrevention}
    br
    h3 Reviews
    div
        each review, i in reviews
            p= review.userName + ": " + review.comment
    div
        form(method="post", action= "/businesses/submitReview")
            input(type="text", name="review", placeholder="Add Review", size="80")
            br
            text Covid Rating:
            span(class="sttar-cb-group")
                input(type="radio", name="rating", class="rating", value="1")
                | 1
                input(type="radio", name="rating", class="rating", value="2")
                | 2
                input(type="radio", name="rating", class="rating",value="3")
                | 3
                input(type="radio", name="rating", class="rating",value="4")
                | 4
                input(type="radio", name="rating", class="rating",value="5")
                |5
                br
            input(type="hidden", name="businessId" value= business._id)
            input(type="hidden", name="businessType" value= business.businessType)
            button(type="submit") Add Review
