include navbar

doctype html
html
  head
    title= title
block content
    h1 #{business.businessName} 
    br
    h2 Rating: #{avgTotal}
    div
        p Phone Number: #{business.phoneNumber}
        p Address: #{business.businessAddress}
    div
        p About: #{business.businessIntro}
        p Prevention Measures: #{business.covidPrevention}
        P Website: #{business.businessWebsite}
    br
    h2 Reviews
    div
        each review, i in reviews
            p= review.userName + ": " + review.comment
    div
        form(method="post", action= "/businesses/submitReview")
            input(type="text", name="review", placeholder="Add Review", size="80")
            br
            text Covid Rating:
            span(class="sttar-cb-group")
                input(type="radio", name="rating", class="rating", value="1")
                | 1
                input(type="radio", name="rating", class="rating", value="2")
                | 2
                input(type="radio", name="rating", class="rating",value="3")
                | 3
                input(type="radio", name="rating", class="rating",value="4")
                | 4
                input(type="radio", name="rating", class="rating",value="5")
                |5
                br
            input(type="hidden", name="businessId" value= business._id)
            button(type="submit") Add Review
